@page "/textcommands"
@using Models
@using Services
@using Interfaces
@using Statics
@using System.Threading
@using YetAnotherTwitchBot.Options

<h1>Text Commands</h1>
<h3>Template Varbiales:</h3>
<p class="lh-1 ">
@TextCommandVariables.BotUsername - Username for the bot. Example: podzero42<br />
@TextCommandVariables.Channel - Name of the channel/streamer where the command originated. Example: markekraus<br />
@TextCommandVariables.Command - The command that was used. Example: !ping<br />
@TextCommandVariables.DisplayName - The displayname of the user who issued the command. Example: RocksInMyDryer<br />
@TextCommandVariables.SubscribedMonthCount - The number of months the user tho issued the command has been subscribed to the streamer. Example: 12<br />
@TextCommandVariables.Username - The username of the user tho issued the command. Example: rocksinmydryer<br />
{arg0}, {arg1}, {arg2}, {arg...} - Arguments passed to the command.<br />
<br />
Example 1 - Simple Command<br />
Command: !hello<br />
Response Template: Hello @@{displayname}!<br />
Example usage: !hello<br />
Example response: Hello @@MarkEKraus<br />
<br />
Example 2 - Using Arguments<br />
Command: !ilove<br />
Response Template: @@{displayname} loves {arg0} and {arg1}!<br />
Example usage: !ilove scotch anime<br />
Example response: @@MarkEKraus loves scotch and anime!<br />
</p>
<h3>Commands</h3>
<EditForm Model="@Commands" OnValidSubmit="@HandleValidSubmit">
@foreach (var command in Commands)
{
    <hr />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Enabled:
        </label>
        <div class="col-sm-10">
            <InputCheckbox class="form-control"
                       @bind-Value="command.Enabled" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Command:
        </label>
        <div class="col-sm-10">
            <InputText class="form-control" placeholder="!somecommand"
                       @bind-Value="command.Command" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Response Template:
        </label>
        <div class="col-sm-10">
            <InputText class="form-control" placeholder="Some template text"
                       @bind-Value="command.Template" />
        </div>
    </div>
    <div class="form-group row">
        <button class="btn btn-danger"  @onclick="@(() => RemoveCommand(command))">Remove</button>
    </div>
}
    <hr />
    <h4> Add New Command</h4>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Enabled:
        </label>
        <div class="col-sm-10">
            <InputCheckbox class="form-control"
                       @bind-Value="NewCommand.Enabled" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Command:
        </label>
        <div class="col-sm-10">
            <InputText class="form-control" placeholder="!somecommand"
                       @bind-Value="NewCommand.Command" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">
            Response Template:
        </label>
        <div class="col-sm-10">
            <InputText class="form-control" placeholder="Some template text"
                       @bind-Value="NewCommand.Template" />
        </div>
    </div>
    <div class="form-group row">
        <button class="btn btn-success"  @onclick="AddCommand">Add</button>
    </div>
    <hr />
    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</EditForm>

@code {
    [Inject]
    private ITextCommandService _service { get; set; }
    public IList<TextCommand> Commands { get; set; } = new List<TextCommand>();
    public TextCommand NewCommand { get; set; } = new TextCommand();

    protected async override Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            Commands = _service.GetTextCommands();
        });
    }

    private void HandleValidSubmit()
    {
        var newOptions = new TextCommandOptions()
        {
            Commands = Commands
        };
        _service.UpdateSettings(newOptions);
        Thread.Sleep(1000);
        Commands = _service.GetTextCommands();
    }

    private void AddCommand()
    {
        Commands.Add(NewCommand);
        _service.AddTextCommand(NewCommand);
        NewCommand = new TextCommand();
    }

    private async Task RemoveCommand(TextCommand Command)
    {
        await Task.Run(() =>
        {
            Commands.Remove(Command);
            _service.RemoveTextCommand(Command);
        });
    }
}